::selection {
  background-color: #127681;
  color: #f1f1f1;
  }

html {
  scroll-behavior: smooth;
}


/* header */

header {
  grid-column: 1 / 3;
  background: #f3c623;
  color: #10375c;
  padding: 4rem;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  height: 150px;
}

/* navbar */

nav {
  white-space: nowrap;
  background: #10375c;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 0;
  }
}
nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #f4f6ff;
  text-decoration: none;
}
nav ul li a:hover {
  background: #127681;
}
nav ul li a.current {
  background: #f3c623;
  color: #10375c;
}

/* Main content */
body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: system-ui, sans-serif;
  color: #10375c

  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: #127681;
}

main {
  padding-bottom: 10rem;
}
section {
  padding: 2rem;
  margin: 0 0 2rem 0;
}

/* Footer */
footer {
  grid-column: 1 / 3;
  background: #127681;
}

.social{
  display: block;
  width: 500px;
  margin: auto;
  font-size: 50px;
  color: #10375c;
  }

.social i{
  margin: 50px
}

#social-icon{
  color: #10375c !important;
}

/* Colorize-zoom image */
.img-hover-zoom--colorize img {
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 75%;
  left: 50%;
  margin-left: -60px;
  background-color: #f3c623;
  color: #127681;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px !important;
  font-weight: bold;
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f3c623 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}